
        <div class="btn-group">
            <a class="btn" id="rockon" href="poll/?value=up"><i class="icon-thumbs-up"></i>UpGrade</a>
            <a class="btn" href="poll/?value=down"><i class="icon-thumbs-down"></i>DownDrade</a>
            <a class="btn" id="stats_show"><i class="icon-hand-down"></i>Show Results</a>
        </div>  
         <div class="well" id="progress-lmuy">
            <div class="progress">
                <div class="bar" style="width: {{ proc }}%;">
                </div>
            </div>
            <p> Ups: {{proc_up }} / Downs: {{ proc_down }}</p>
        </div>      

